--- 
import Spoty from '../assets/spoty.svg'
import House from '../assets/house.svg'
---
<nav class="bg-black text-white flex r py-4">
    <div class="flex justify-start">
        <a href="" target="_blank" class="w-10 h-10 mr-12"> <Spoty class="fill-white"/> </a>
        <div class="flex gap-2 rounded-full bg-[#1f1f1f] p-3">
            <House class="w-5 h-5 fill-gray-400" />
        </div>
    </div>
    <div>
        <span><a href="">Premium</a></span>
        <button><span>What's new</span></button>
        <button><span>Profile</span></button>
    </div>
</nav>