---
import Library from '../assets/library.svg'
---
<div class="col-span-2 row-span-5 rounded-xl border bg-[#121212] mx-2">
    <div class="w-full h-20 flex items-center pl-4">
        <a href="" class="text-gray-400 font-bold flex items-center gap-2"> <Library class="fill-gray-400"/>Your Library</a>
        
    </div>

</div>