---
import Part1 from './Part1.astro';
import Part2 from './Part2.astro';
import Part3 from './Part3.astro';
---
<main class=" h-screen w-screen grid grid-cols-8 grid-rows-5 gap-2 bg-black">

    <Part1 />
    <Part2 />
    <Part3 />


</main>